<div class='snippet-list-container'>
  <div class="headline">
    <p id="notice"><%= notice %></p>
    <h1>Listing Snippets</h1>
  </div>

  <% @snippets.each do |snippet| %>
  <div class="snippet">
    <div class="source">
      <%= link_to snippet.name, snippet.source %>
    </div>
    <div class="actions">
      <%= link_to 'Show', snippet %>
      <%= link_to 'Edit', edit_snippet_path(snippet) %>
      <%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
  <div class="new-snippet-link">
    <%= link_to 'New Snippet', new_snippet_path %>
  </div>
</div>
