<div class="snippet-detail">
  <h1><%= @snippet.name %></h1>
  <div class="details">
    Language: <%= @snippet.language.name %>
  </div>
  <div class="code">
    <pre>
      <code class="language-<%=@snippet.language.key%>">
        <%=@snippet.content.strip%>
      </code>
    </pre>
  </div>
  <div class="actions">
    <ul class="actions">
      <li><%= link_to "Link to source", @snippet.source %></li>
      <li><%= link_to 'Edit', edit_snippet_path(@snippet) %></li>
      <li><%= link_to 'Back', snippets_path %></li>
    </ul>
  </div>
</div>
