<div class="snippet-detail">
  <div class="details">
    <p id="notice"><%= notice %></p>
    <h1><%= @snippet.name %></h1>
    <p>Language <%= @snippet.language.name %></p>
    <p><%= link_to "Link to source", @snippet.source %></p>
    <%= link_to 'Edit', edit_snippet_path(@snippet) %> |
    <%= link_to 'Back', snippets_path %>
  </div>
  <div class="code">
    <pre>
      <code>
        <%= @snippet.content %>
      </code>
    </pre>
  </div>
</div>
