<!DOCTYPE html>
<html>
<head>
  <title>Codeclub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
    <section class="top-bar-section">
      <% if current_user %>
        <ul class="right">
          <li>
            <a href="#"><%= current_user.name %></a>
          </li>
          <li>
            <%= link_to "Sign out", signout_path %>
          </li>
        </ul>
      <% end %>
    </section>
  </nav>
  <%= yield %>

</body>
</html>
