<!DOCTYPE html>
<html>
<head>
  <title>Codeclub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
    <section class="top-bar-section">
        <ul class="right">
          <% if current_user %>
            <li>
              <a href="#"><%= current_user.name %></a>
            </li>
            <li>
              <%= link_to "Sign out", signout_path %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign in", "/auth/github" %>
            </li>
          <% end %>
        </ul>
    </section>
  </nav>
  <%= yield %>

</body>
</html>
